$border: 1px;
$border-color:black;

.item {

  margin: 10px;
  min-width: 20%;

  &__header {
    padding: 10px;
    background-color: yellow;
    border: $border solid $border-color;
  }

  &__body {
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid black;

    &__children {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      app-item {
        min-width: 15%;
      }
    }
  }
}
